html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: serif;
  color: white;
  text-align: center;
}

p {
  font-family: monospace;
  color:white;
  text-align: center;
}

a {
  color: red;
  text-decoration: none;
}
img {
  display: block;
  margin: auto;
  width: 15%;
}

table {
  border-collapse: collapse;
  width: 25%;
  margin: 0 auto;
}
th, td {
  border: 1px solid white;
  text-align: center;
  color: white;
  font-family: monospace;
}
td img {
  display: block;
  margin: 0 auto;
}
th {
  font-family: serif;
  font-weight: bold;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fixed-table {
  table-layout: fixed;
}

.index-link {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}
